<app-header></app-header>

<button style="margin:5px; float:right" (click)="newPlace()"> Add new Place</button>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let head of header">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of list;let i = index;">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.district}}</td>
      <td>{{user.description}}</td>
      <td>
        <button (click)="viewDetails(user.id)">Details</button>
      </td>
      <td>
        <button (click)="deletePlace(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
