button {
  align-items: center;
  background-color: #b40909;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 0px 15px;
}
.orange{
    color:orange;
}
.green {
  color: green;
}
.red {
  color: red;
}
