.payment-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
}
button {
  background: #2f820b;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}
.info {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.note {
  margin-top: 10px;
  font-size: 14px;
  color: #ff9800;
}
