.main-div {
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.sub {
  border-radius: 0 0 100% 100%;
  height: 544px;
  margin: 0 -20%;
  overflow: hidden;
  padding: 0 20%;
}
.img-div {
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 32px;
  transition: background-image 1s ease-in-out;
  width: 100%;
}
.form-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -184px;
  padding: 0 32px 48px;
}
.form-in {
  display: flex;
  flex-direction: column;
  max-width: 1264px;
  background: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px -1px 6px 1px #8f989b;
}
.aJYihxO8u2GLBGKRK3eD {
  background-color: #fff;
  color: #1d1d1d;
}
.F9ApbtHIUCu1ZDDF7OtJ {
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, .24);
  color: #fff;
  display: flex;
  font-size: 15px;
  gap: 0 8px;
  justify-content: center;
  line-height: 1.6;
  padding: 0 2rem;
  text-decoration: none;
  height: 45px;
  background: #44b50c;
}
.form-div {
  background-color: #fff;
  border-radius: 0 .5rem .5rem .5rem;
  box-shadow: 0 0 24px 2px rgba(0, 0, 0, .2);
  background: transparent;
}
select,input {
  background: none;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
button {
  align-items: center;
  background-color: #44b50c;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 24px;
  outline: none;
  padding: 0 40px;
  float: right;
}
.loc {
  width: 25px;
  height: 25px;
  background: orange;
  padding: 5px;
  border-radius: 5px;
}
