.form-container form {
  background-color: rgb(230, 234, 238);
  padding: 2px 19px 2px;
  position: relative;
  width: 60%;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0px 0px 10px 0px;
  padding: 0 100px;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px 0;
  position: relative;
}

  .input-group label {
    flex-basis: 18%;
  }

  .input-group input, .input-group textarea {
    flex-basis: 40%;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    background-color: rgb(247, 244, 244);
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

::placeholder {
  font-size: 14px;
}

form button {
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}
.register input {
  background: #00000087;
  color: white;
}
